syntax: glob

.idea/**

**.iml
**/.mvn/**/
**/mvnw.*
**/mvnw

Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll
*.lib
*.sbr
*.launch
.classpath
.class
.gitignore
*.classpath
target/
.settings/
bin/
/target/
*.jar
*.log.*
warn.*
*.versionsBackup
.metadata/*
target/
target/**
.gitignore
*.settings/**
.settings/**
*.project